$first-color: #345A73;
$second-color: #A7DDFF;
$third-color: #6A9EBF;
$fourth-color: #735429;
$fifth-color: #BF9C6A;


$big-w: 90vw;
$normal-w: 50vw;
$small-w: 20vw;

$very-big-h: 100vh;
$big-h: 50vh;
$normal-h: 20vh;
$small-h: 10;
$tiny-h: 5;

$first-font: ;
$second-font: ;
$third-font: ;
$fourth-font: ;