* {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outsideBox {
    height: 80vh;
    width: 80vw;
    background-image: url("numbers.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: solid red 5px;
    border-style: outset;
    box-shadow: blue 10px 10px 10px;
    

}

#gessingGame {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    height: 30%;
    width: 30%;
    font-size: 200%;
    border: solid red 2px;
    border-radius: 5px;
    background-color: blue;
}

#gessingForm {
    height: 30%;
    width: 70%;
    border: solid red 2px;
    border-radius: 5px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gessingForm > p{
    font-size: 150%;
}
#gessingForm > input {
    margin: 10px;
    width: 20%;
    height: 25%;
    font-size: 150%;
}

#gessingForm > button {
    width: 20%;
    background-color: lightblue;
}
